.cmobile{
    padding: 10px;
    border: 1px solid rgb(128, 126, 126);
    border-radius: 10px;

}
.cbutton{
background-color: rgb(250, 250, 223);
padding: 10px 20px;
border: 1px solid rgb(133, 131, 131);
border-radius: 10px;
margin-top: 15px;
cursor: pointer;
}

.login{ text-align: center;}
html{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
